body {
    background: linear-gradient(to right, #56ab2f, #a8e063);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0px 0px 15px black;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 6px;
}
